@charset "UTF-8";
//初始化浏览器样式
@import "~@yu1596882018/web-sdk/es/style/resetMobile";

//公用样式
@import "~@yu1596882018/web-sdk/es/style/mixins";

//布局
html, body, .h100 {
  height: 100%;
}

#layer {
  min-height: 100%;
}

body .van-pull-refresh {
  user-select: auto;
}
