@charset "UTF-8";
// 主色
$--color-primary: #d43c3f;

// 辅助色
$--color-success: #67C23A;
$--color-warning: #faad14;
$--color-danger: #F56C6C;
$--color-info: #1890ff;

// 文字色
$--color-text-primary: #000000; // 主要文字
$--color-text-regular: #333333; // 常规文字
$--color-text-secondary: #666666; // 次要文字
$--color-text-placeholder: #bfbfbf; // 占位文字
$--link-color: #4F9CF1; // 可点击色
